<!-- ###ITEM_BLOCK### -->
<tr>
<!-- ###HAS_ENUM### begin -->
<td class="###ROW_CLASS### ###NUMBER_CLASS###">
###ENUM_NUMBER###
</td>
<!-- ###HAS_ENUM### end -->
<td class="###ROW_CLASS###">

<!-- ###HAS_MANIPULATORS### begin -->###MANIPULATORS###<!-- ###HAS_MANIPULATORS### end -->

<f:if condition="{item.authors -> f:count() > 0}">
<div class="tx_bib-authors"><f:for each="{item.authors}" as="author">
    {author.surName}, {author.firstName}
</f:for></div>
    </f:if>
<f:if condition="{item.title}">
    <div class="tx_bib-title">{item.title}</div>
</f:if>

<f:if condition="{item.DOI}">
    <div class="tx_bib-block"><f:translate key="label_doi" extensionName="bib"/>: {item.DOI}</div>
</f:if>

<f:if condition="{item.ISBN}">
    <div class="tx_bib-block"><f:translate key="label_doi" extensionName="bib"/>: {item.ISBN}</div>
</f:if>

<f:if condition="{item.state}">
    <span class="tx_bib-state">{item.state}</span>
</f:if>

<!-- ###HAS_WEB_URL### begin -->
<div class="tx_bib-url_block">###WEB_URL_SHORT###</div>
<!-- ###HAS_WEB_URL### end -->

<!-- ###HAS_WEB_URL2### begin -->
<div class="tx_bib-url_block">###WEB_URL2_SHORT###</div>
<!-- ###HAS_WEB_URL2### end -->

<!-- ###HAS_KEYWORDS### begin -->
<p class="tx_bib-keywords_block">###LABEL_KEYWORDS### ###KEYWORDS###</p>
<!-- ###HAS_KEYWORDS### end -->

<!-- ###HAS_TAGS### begin -->
<p class="tx_bib-tags_block">###LABEL_TAGS### ###TAGS###</p>
<!-- ###HAS_TAGS### end -->

<!-- ###HAS_ABSTRACT### begin -->
<p class="tx_bib-abstract_block">###LABEL_ABSTRACT### ###ABSTRACT###</p>
<!-- ###HAS_ABSTRACT### end -->

<!-- ###HAS_ANNOTATION### begin -->
<p class="tx_bib-annotation_block">###LABEL_ANNOTATION### ###ANNOTATION###</p>
<!-- ###HAS_ANNOTATION### end -->

<!-- ###HAS_NOTE### begin -->
<p class="tx_bib-note_block">###LABEL_NOTE### ###NOTE###</p>
<!-- ###HAS_NOTE### end -->


</td>
</tr>



<f:if condition="1 == 2">

    <f:render partial="Type/Default" />
    <f:render partial="Type/Article" />
    <f:render partial="Type/Book" />
    <f:render partial="Type/Inbook" />
    <f:render partial="Type/Booklet" />
    <f:render partial="Type/Conference" />
    <f:render partial="Type/Incollection" />
    <f:render partial="Type/Proceeding" />
    <f:render partial="Type/Inproceeding" />
    <f:render partial="Type/Manual" />
    <f:render partial="Type/Masterthesis" />
    <f:render partial="Type/Phdthesis" />
    <f:render partial="Type/Techreport" />
    <f:render partial="Type/Unpublished" />
    <f:render partial="Type/Miscellaneous" />
    <f:render partial="Type/String" />
    <f:render partial="Type/Poster" />
    <f:render partial="Type/Thesis" />
    <f:render partial="Type/Report" />
    <f:render partial="Type/Manuscript" />

</f:if>
