<tr>

<td class="tx_bib-item">
&bull;
</td>

<td class="###ROW_CLASS###">

<!-- ###HAS_MANIPULATORS### begin -->###MANIPULATORS###<!-- ###HAS_MANIPULATORS### end -->
    <f:if condition="{item.authors -> f:count() > 0}">
        <div class="tx_bib-authors">
            <f:for each="{item.authors}" as="author">
                {author.surName}, {author.foreName};
            </f:for>
        </div>
    </f:if>

    <f:if condition="{item.title}">
        <div class="tx_bib-title">{item.title}</div>
    </f:if>

    <f:if condition="{item.DOI}">
        <div class="tx_bib-block"><f:translate key="label_doi" extensionName="bib"/>: http://dx.doi.org/{item.DOI}</div>
    </f:if>

    <f:if condition="{item.ISBN}">
        <div class="tx_bib-block"><f:translate key="label_doi" extensionName="bib"/>: {item.ISBN}</div>
    </f:if>

    <f:if condition="{item.state}">
        <span class="tx_bib-state">{item.state}</span>
    </f:if>

    <f:if condition="{item.webUrl}">
        <div class="tx_bib-url_block">{item.webUrl</div>
    </f:if>

    <f:if condition="{item.webUrl2}">
        <div class="tx_bib-url_block">{item.webUrl2}</div>
    </f:if>

    <f:if condition="{item.keywords}">
        <p class="tx_bib-keywords_block"><f:translate key="label_keywords" extensionName="bib"/> {item.keywords}</p>
    </f:if>

    <f:if condition="{item.tags}">
        <p class="tx_bib-tags_block"><f:translate key="label_tags" extensionName="bib"/> {item.tags}</p>
    </f:if>

    <f:if condition="{item.abstract}">
        <p class="tx_bib-abstract_block"><f:translate key="label_abstract" extensionName="bib"/> {item.abstract}</p>
    </f:if>

    <f:if condition="{item.anotation}">
        <p class="tx_bib-annotation_block"><f:translate key="label_annotation" extensionName="bib"/> {item.anotation}</p>
    </f:if>

    <f:if condition="{item.note}">
        <p class="tx_bib-note_block"><f:translate key="label_annotation" extensionName="bib"/> {item.note}</p>
    </f:if>

</td>
</tr>


<f:if condition="1 == 2">

    <f:render partial="Type/Default" />
    <f:render partial="Type/Article" />
    <f:render partial="Type/Book" />
    <f:render partial="Type/Inbook" />
    <f:render partial="Type/Booklet" />
    <f:render partial="Type/Conference" />
    <f:render partial="Type/Incollection" />
    <f:render partial="Type/Proceeding" />
    <f:render partial="Type/Inproceeding" />
    <f:render partial="Type/Manual" />
    <f:render partial="Type/Masterthesis" />
    <f:render partial="Type/Phdthesis" />
    <f:render partial="Type/Techreport" />
    <f:render partial="Type/Unpublished" />
    <f:render partial="Type/Miscellaneous" />
    <f:render partial="Type/String" />
    <f:render partial="Type/Poster" />
    <f:render partial="Type/Thesis" />
    <f:render partial="Type/Report" />
    <f:render partial="Type/Manuscript" />

</f:if>
