{namespace b=Ipf\Bib\ViewHelpers}

<f:render partial="List/TopNavigation" arguments="{_all}" />

{pageNavigation}

<div class="tx_bib-navi_main_label"><f:translate key="label_references" extensionName="bib"/></div>

<div class="tx_bib-list_container">

    <table cellspacing="0" cellpadding="0" border="0" class="tx_bib-list">
        <tbody>
        <f:widget.paginate objects="{items}" as="paginatedItem" configuration="{itemsPerPage: 20, addQueryStringMethod: 'POST,GET'}">
            <f:for each="{paginatedItem}" as="item">
            <tr>
                <f:render partial="List/Items" arguments="{item: item, editmode: configuration.edit_mode}" />
            </tr>
            </f:for>
        </f:widget.paginate>
        </tbody>
    </table>

<f:render partial="List/BottomNavigation" arguments="{_all}" />
