<p>
	<f:translate key="LLL:EXT:bib/pi1/locallang:xml:import_bibtex_title"/>
</p>

<ul>
	<li>
		The BibTeX format is not strictly defined anywhere.
		Therefore this parser merely tries to get the best out of it. <br/>
		If in doubt try it on an empty storage folder first.
	</li>
	<li>
		Non ASCII characters should be encoded in TeX syntax (e.g. \\"u for &uuml;)<br/>
		Everything else may cause unexpected behaviour.
	</li>
	<li>
		@String( var = "some text" ) placeholders are not supported
	</li>
</ul>