<h2>Article</h2>
<!-- ###ARTICLE_DATA### begin -->
<!-- ###HAS_JOURNAL### begin -->###JOURNAL###, <!-- ###HAS_JOURNAL### end -->
<!-- ###HAS_VOLUME### begin --><span class="tx_bib-bold">###VOLUME###</span><!-- ###HAS_VOLUME### end --><!--
###HAS_NUMBER### begin -->(###NUMBER###)<!-- ###HAS_NUMBER### end --><!--
###HAS_PAGES### begin -->:###PAGES### <!-- ###HAS_PAGES### end -->

<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###HAS_ISSN### begin -->
<div class="tx_bib-block">###LABEL_ISSN###: ###ISSN###</div>
<!-- ###HAS_ISSN### end -->

<!-- ###ARTICLE_DATA### end -->
