
<h2>Booklet</h2>
<!-- ###BOOKLET_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###, <!-- ###HAS_EDITOR### end -->
<!-- ###HAS_VOLUME### begin -->###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->
</div>

<!-- ###HAS_HOWPUBLISHED### begin -->
<div class="tx_bib-block">###HOWPUBLISHED###</div>
<!-- ###HAS_HOWPUBLISHED### end -->

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!--
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<!-- ###BOOKLET_DATA### end -->
