<!-- ###DEFAULT_DATA### begin -->
<!-- ###HAS_JOURNAL### begin -->###JOURNAL###, <!-- ###HAS_JOURNAL### end -->
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE### <!-- ###HAS_BOOKTITLE### end -->
<!-- ###HAS_VOLUME### begin -->###VOLUME### <!-- ###HAS_VOLUME### end -->
<!-- ###HAS_NUMBER### begin-->(###NUMBER###)<!-- ###HAS_NUMBER### end-->
<!-- ###HAS_SERIES### begin -->###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span> <!-- ###HAS_SERIES### end -->
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_CHAPTER### begin -->###LABEL_CHAPTER### <span class="tx_bib-chapter">###CHAPTER###</span>,<!-- ###HAS_CHAPTER### end -->
<!-- ###HAS_PAGES### begin -->###LABEL_PAGE### ###PAGES###.<!-- ###HAS_PAGES### end -->
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS### <!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_INSTITUTION### begin -->###INSTITUTION###, <!-- ###HAS_INSTITUTION### end -->
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
<!-- ###HAS_SCHOOL### begin -->###SCHOOL### <!-- ###HAS_SCHOOL### end -->
<!-- ###HAS_EDITION### begin -->###EDITION### ###LABEL_EDITION###, <!-- ###HAS_EDITION### end -->
<!-- ###HAS_HOWPUBLISHED### begin -->###HOWPUBLISHED###, <!-- ###HAS_HOWPUBLISHED### end -->
<!-- ###HAS_YEAR### begin -->###YEAR### <!-- ###HAS_YEAR### end -->
<!-- ###HAS_ISBN### begin -->###ISBN### <!-- ###HAS_ISBN### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
<!-- ###HAS_EXTERN### begin -->###EXTERN###<!-- ###HAS_EXTERN### end -->
<!-- ###HAS_MISC### begin -->###MISC### <!-- ###HAS_MISC### end -->
<!-- ###DEFAULT_DATA### end -->
