
<h2>Inproceeding</h2>
<!-- ###INPROCEEDINGS_DATA### begin -->

<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE###<!-- ###HAS_BOOKTITLE### end -->
<!-- ###HAS_VOLUME### begin --> ###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->
<!-- ###HAS_PAGES### begin -->, ###LABEL_PAGE### ###PAGES###.<!-- ###HAS_PAGES### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!--
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<!-- ###INPROCEEDINGS_DATA### end -->

