<h2>Manual</h2>
<!-- ###MANUAL_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION###, <!-- ###HAS_ORGANIZATION### end --><!--
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<!-- ###MANUAL_DATA### end -->
