


<h2>Manuscript</h2>
<!-- ###MANUSCRIPT_DATA### begin -->

<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->

<!-- ###HAS_TYPE### begin -->
<div class="tx_bib-block">###TYPE###</div>
<!-- ###HAS_TYPE### end -->

<!-- ###HAS_INSTITUTION### begin -->
<div class="tx_bib-block">###INSTITUTION###</div>
<!-- ###HAS_INSTITUTION### end -->

<!-- ###HAS_INSTITUTE### begin -->
<div class="tx_bib-block">###INSTITUTE###</div>
<!-- ###HAS_INSTITUTE### end -->

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!--
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###HAS_AFFILIATION### begin -->
<div class="tx_bib-block">###AFFILIATION###</div>
<!-- ###HAS_AFFILIATION### end -->

<!-- ###MANUSCRIPT_DATA### begin -->
