
<h2>PhD Thesis</h2>
<!-- ###PHDTHESIS_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_SCHOOL### begin -->###SCHOOL###, <!-- ###HAS_SCHOOL### end --><!--
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###PHDTHESIS_DATA### end -->
