

<h2>Proceeding</h2>
<!-- ###PROCEEDINGS_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_VOLUME### begin --> ###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->
</div>

<!-- ###HAS_EVENT_NAME### begin -->
<div class="tx_bib-block">###EVENT_NAME###</div>
<!-- ###HAS_EVENT_NAME### end -->

<div class="tx_bib-block">
###EVENT_PLACE###<!--
###HAS_EVENT_DATE### begin -->, ###EVENT_DATE###<!-- ###HAS_EVENT_DATE### end -->
</div>

<!-- ###HAS_ORGANIZATION### begin -->
<div class="tx_bib-block">###ORGANIZATION###</div>
<!-- ###HAS_ORGANIZATION### end -->

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!--
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###HAS_AFFILIATION### begin -->
<div class="tx_bib-block">###AFFILIATION###</div>
<!-- ###HAS_AFFILIATION### end -->

<!-- ###PROCEEDINGS_DATA### end -->

