<f:comment>
    {mode}:
        0: show
        1: edit
        2: silent
        3: confirm save
</f:comment>

<h2>{title}</h2>

<f:form name="{formName}" method="post" action="{f:uri.page}">
    <script type="text/javascript">
    function click_update_button() {
      var btn = document.getElementsByName('{prefix_pi1}[action][update_form]')[0];
      btn.click();
      return;
    }

    </script>

    <div class="tx_bib-editor">
        <f:render partial="Editor/Buttons" arguments="{_all}" />
        {preContent -> f:format.raw()}
        {content -> f:format.raw()}
        <f:render partial="Editor/Buttons" arguments="{_all}" />

    </div>
</f:form>


