<div class="tx_bib-navi_search">
    <f:form extensionName="bib" pluginName="pi1" name="tx_bib_pi1-search_form" method="post" class="tx_bib-search_form" actionUri="{f:uri.page()}" noCache="1">

        <div class="tx_bib-navi_main_label">
            <f:translate key="searchNav_label" extensionName="bib"/>
            <span class="tx_bib-navi_current">&nbsp;</span></div>

        <f:form.textfield size="24" maxlength="512" name="search[text]" value=""/>

        <f:form.submit value="{f:translate(key:'searchNav_search', extensionName: 'bib')}" name="action[search]"/>
        <f:form.submit value="{f:translate(key:'searchNav_clear', extensionName: 'bib')}" name="action[clear_search]"/>

        <label class="tx_bib-navi_label" for="search-extra">
            <f:translate key="searchNav_extra" extensionName="bib"/>
        </label>
        <f:form.checkbox additionalAttributes="{onchange: 'this.form.submit()'}"
                         id="search-extra"
                         name="search[extra]"
                         value="1"
                         class="tx_bib-check"
                         checked="{configuration.search_navi.extra}"/>

        <div class="tx_bib-float_clear"></div>

        <f:if condition="{configuration.search_navi.extra}">
            <div class="tx_bib-navi_extra_row">
                <div class="tx_bib-navi_search_details">
                    <f:render partial="Search/Separator" arguments="{_all}" />
                    <f:render partial="Search/Rule" arguments="{_all}" />
                </div>
                <div class="tx_bib-float_clear"></div>
            </div>
            <div class="tx_bib-navi_extra_row">
                <div class="tx_bib-navi_search_details">
                    <f:render partial="Search/Abstracts" arguments="{_all}" />
                    <f:render partial="Search/Fulltext" arguments="{_all}" />
                </div>
                <div class="tx_bib-float_clear"></div>
            </div>
        </f:if>

        <f:form.hidden name="search[extra]" value="1"/>
        <f:if condition="{configuration.search_navi.extra']">
            <f:form.hidden value="{configuration.search_navi.rule}" name="search[rule]"/>
            <f:form.hidden value="{configuration.search_navi.abstracts}" name="search[abstracts]"/>
            <f:form.hidden value="{configuration.search_navi.full_text}" name="search[full_text]"/>
        </f:if>

    </f:form>
</div>
