{namespace bib=Ipf\Bib\ViewHelpers}

<div class="tx_bib-single_view">

    <h2 class="tx_bib-single_view--title"><f:translate key="single_view_title" extensionName="bib" /></h2>

    <f:if condition="{item.bibtype}">
        <h3><f:translate key="tx_bib_domain_model_reference_bibtype_I_{item.bibtype}" extensionName="bib" /></h3>
    </f:if>

    <table class="tx_bib-single_item">
        <tbody>

        <f:if condition="{item.title}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_title" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.title}</td>
            </tr>
        </f:if>

        <f:if condition="{item.authors}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_author_authors" extensionName="bib" /></th>
                <td class="tx_bib-single_value">
                    <ul>
                        <f:for each="{item.authors}" as="author">
                            <li>{author.surName}, {author.foreName}</li>
                        </f:for>
                    </ul>
                </td>
            </tr>
        </f:if>

        <f:if condition="{item.journal}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_journal" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{{item.journal}}</td>
            </tr>
        </f:if>

        <f:if condition="{item.editor}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_editor" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.editor}</td>
            </tr>
        </f:if>


        <f:if condition="{type}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_type" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{type}</td>
            </tr>
        </f:if>

        <f:if condition="{item.year}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_year" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.year}</td>
            </tr>
        </f:if>

        <f:if condition="{item.month}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_month" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.month}</td>
            </tr>
        </f:if>

        <f:if condition="{item.day}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_day" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.day}</td>
            </tr>
        </f:if>

        <f:if condition="{item.booktitle}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_booktitle" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.booktitle}</td>
            </tr>
        </f:if>

        <f:if condition="{item.volume}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_volume" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.volume}</td>
            </tr>
        </f:if>

        <f:if condition="{item.number}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_number" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.number}</td>
            </tr>
        </f:if>

        <f:if condition="{item.number2}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_number2" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.number2}</td>
            </tr>
        </f:if>

        <f:if condition="{item.series}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_series" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.series}</td>
            </tr>
        </f:if>

        <f:if condition="{item.edition}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_edition" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.edition}</td>
            </tr>
        </f:if>

        <f:if condition="{item.chapter}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_chapter" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.chapter}</td>
            </tr>
        </f:if>

        <f:if condition="{item.pages}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_pages" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.pages}</td>
            </tr>
        </f:if>

        <f:if condition="{item.publisher}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_publisher" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.publisher}</td>
            </tr>
        </f:if>

        <f:if condition="{item.address}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_address" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.address}</td>
            </tr>
        </f:if>

        <f:if condition="{item.institution}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_institution" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.institution}</td>
            </tr>
        </f:if>

        <f:if condition="{item.organization}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_organization" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.organization}</td>
            </tr>
        </f:if>

        <f:if condition="{item.school}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_school" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.school}</td>
            </tr>
        </f:if>

        <f:if condition="{item.institute}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_institute" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.institute}</td>
            </tr>
        </f:if>

        <f:if condition="{item.eventName}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_event_name" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.eventName}</td>
            </tr>
        </f:if>

        <f:if condition="{item.eventPlace}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_event_place" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.item}</td>
            </tr>
        </f:if>

        <f:if condition="{item.eventDate}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_event_date" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.eventDate}</td>
            </tr>
        </f:if>

        <f:if condition="{item.howpublished}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_howpublished" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.howpublished}</td>
            </tr>
        </f:if>

        <f:if condition="{item.affiliation}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_affiliation" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.affiliation}</td>
            </tr>
        </f:if>

        <f:if condition="{item.extern}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_extern" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.extern}</td>
            </tr>
        </f:if>

        <f:if condition="{item.misc}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_misc" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.misc}</td>
            </tr>
        </f:if>

        <f:if condition="{item.misc2}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_misc2" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.misc2}</td>
            </tr>
        </f:if>

        <f:if condition="{item.state}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_state" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.state}</td>
            </tr>
        </f:if>

        <f:if condition="{item.reviewed}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_reviewed" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.reviewed}</td>
            </tr>
        </f:if>

        <f:if condition="{item.inLibrary}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_in_library" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.inLibrary}</td>
            </tr>
        </f:if>

        <f:if condition="{item.borrowedBy}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_borrowed_by" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{borrowedBy}</td>
            </tr>
        </f:if>


        <f:if condition="{item.citeid}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_citeid" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.citeid}</td>
            </tr>
        </f:if>

        <f:if condition="{item.DOI}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_doi" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.DOI}</td>
            </tr>
        </f:if>

        <f:if condition="{item.ISBN}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_isbn" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.ISBN}</td>
            </tr>
        </f:if>

        <f:if condition="{item.ISSN}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_issn" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.ISSN}</td>
            </tr>
        </f:if>

        <f:if condition="{item.fileUrl}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_file_url" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.fileUrl}</td>
            </tr>
        </f:if>

        <f:if condition="{item.webUrl}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_web_url" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.webUrl}</td>
            </tr>
        </f:if>

        <f:if condition="{item.webUrl2}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_web_url2" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.webUrl2}</td>
            </tr>
        </f:if>

        <f:if condition="{item.keywords}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_keywords" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.keywords}</td>
            </tr>
        </f:if>

        <f:if condition="{item.tags}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_tags" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.tags}</td>
            </tr>
        </f:if>

        <f:if condition="{item.abstract}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_abstract" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.abstract}</td>
            </tr>
        </f:if>

        <f:if condition="{item.annotation}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_annotation" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.annotation}</td>
            </tr>
        </f:if>

        <f:if condition="{item.note}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_note" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.note}</td>
            </tr>
        </f:if>


        <f:if condition="{item.pid}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_pid" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.pid}</td>
            </tr>
        </f:if>

        <f:if condition="{item.uid}">
            <tr>
                <th class="tx_bib-single_label"><f:translate key="tx_bib_domain_model_reference_uid" extensionName="bib" /></th>
                <td class="tx_bib-single_value">{item.uid}</td>
            </tr>
        </f:if>

        </tbody>
    </table>

    <bib:coins data="{item}" />

    <p><f:link.page><f:translate key="link_back_to_list" extensionName="bib" /></f:link.page></p>

</div>
