
<h1>Blocks</h1>


<!-- ###NEW_ENTRY_BLOCK### begin -->
<div class="tx_sevenpack-navi_new">###NEW_ENTRY###</div>
<!-- ###NEW_ENTRY_BLOCK### end -->


<!-- ###EXPORT_BLOCK### begin -->
<div class="tx_sevenpack-navi_export">###LABEL### ###EXPORTS###</div>
<!-- ###EXPORT_BLOCK### end -->


<!-- ###IMPORT_BLOCK### begin -->
<div class="tx_sevenpack-navi_import">###LABEL### ###IMPORTS###</div>
<!-- ###IMPORT_BLOCK### end -->


<!-- ###STATISTIC_BLOCK### begin -->
<div class="tx_sevenpack-navi_statistic">###LABEL### ###STATISTIC###</div>
<!-- ###STATISTIC_BLOCK### end -->


<!-- ###SPACER_BLOCK### start -->
<tr><td colspan="2" class="tx_sevenpack-spacer_row">&nbsp;</td></tr>
<!-- ###SPACER_BLOCK### end -->


<!-- ###YEAR_BLOCK### start -->
<tr><td <!-- ###HAS_ENUM### begin -->colspan="2"<!-- ###HAS_ENUM### end --> class="tx_sevenpack-year_row">###YEAR###</td></tr>
<!-- ###YEAR_BLOCK### end -->


<!-- ###BIBTYPE_BLOCK### start -->
<tr><th <!-- ###HAS_ENUM### begin -->colspan="2"<!-- ###HAS_ENUM### end --> class="tx_sevenpack-bibtype_row">###BIBTYPE###</th></tr>
<!-- ###BIBTYPE_BLOCK### end -->
