


<h1>Single item block</h1>


<!-- ###ITEM_BLOCK### -->
<tr>
<!-- ###HAS_ENUM### begin -->
<td class="###ROW_CLASS### ###NUMBER_CLASS###">
###ENUM_NUMBER###
</td>
<!-- ###HAS_ENUM### end -->
<td class="###ROW_CLASS###">
<!-- ###HAS_MANIPULATORS### begin -->###MANIPULATORS###<!-- ###HAS_MANIPULATORS### end -->
<!-- ###REFERENCE_WRAP### begin -->
<!-- ###HAS_AUTHORS### begin -->###AUTHORS###<!-- ###HAS_AUTHORS### end -->
<!-- ###HAS_TITLE### begin -->###TITLE###<!-- ###HAS_TITLE### end -->
###ITEM_DATA###
<div class="tx_sevenpack-block">
<!-- ###HAS_ISBN### begin -->###ISBN### <!-- ###HAS_ISBN### end -->
</div>
<!-- ###HAS_STATE### begin -->###STATE###<!-- ###HAS_STATE### end -->
<!-- ###HAS_ABSTRACT### begin -->###ABSTRACT###<!-- ###HAS_ABSTRACT### end -->
<!-- ###HAS_ANNOTATION### begin -->###ANNOTATION###<!-- ###HAS_ANNOTATION### end -->
<!-- ###HAS_NOTE### begin -->###NOTE###<!-- ###HAS_NOTE### end -->
<!-- ###HAS_KEYWORDS### begin -->###KEYWORDS###<!-- ###HAS_KEYWORDS### end -->
<!-- ###HAS_TAGS### begin -->###TAGS###<!-- ###HAS_TAGS### end -->
<!-- ###REFERENCE_WRAP### end -->
</td>
</tr>
<!-- ###ITEM_BLOCK### -->




<h1>Specialised item blocks</h1>


<h2>Default</h2>
<!-- ###DEFAULT_DATA### begin -->
<!-- ###HAS_JOURNAL### begin -->###JOURNAL### <!-- ###HAS_JOURNAL### end -->
<!-- ###HAS_EDITOR### begin -->###EDITOR### <!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE### <!-- ###HAS_BOOKTITLE### end -->
<!-- ###HAS_VOLUME### begin -->###VOLUME### <!-- ###HAS_VOLUME### end -->
<!-- ###HAS_NUMBER### begin-->###NUMBER###<!-- ###HAS_NUMBER### end-->
<!-- ###HAS_SERIES### begin -->###SERIES### <!-- ###HAS_SERIES### end -->
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_CHAPTER### begin -->###LABEL_CHAPTER### ###CHAPTER### <!-- ###HAS_CHAPTER### end -->
<!-- ###HAS_PAGES### begin -->###PAGES### <!-- ###HAS_PAGES### end -->
<!-- ###HAS_PUBLISHER### begin -->###PUBLISHER### <!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_INSTITUTION### begin -->###INSTITUTION### <!-- ###HAS_INSTITUTION### end -->
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
<!-- ###HAS_SCHOOL### begin -->###SCHOOL### <!-- ###HAS_SCHOOL### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS### <!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_EDITION### begin -->###EDITION### <!-- ###HAS_EDITION### end -->
<!-- ###HAS_HOWPUBLISHED### begin -->###HOWPUBLISHED### <!-- ###HAS_HOWPUBLISHED### end -->
<!-- ###HAS_YEAR### begin -->###YEAR### <!-- ###HAS_YEAR### end -->
<!-- ###HAS_ISBN### begin -->###ISBN### <!-- ###HAS_ISBN### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
<!-- ###HAS_EXTERN### begin -->###EXTERN###<!-- ###HAS_EXTERN### end -->
<!-- ###HAS_MISC### begin -->###MISC### <!-- ###HAS_MISC### end -->
<!-- ###DEFAULT_DATA### end -->



<h2>Article</h2>
<!-- ###ARTICLE_DATA### begin -->
<!-- ###HAS_JOURNAL### begin -->###JOURNAL###<!-- ###HAS_JOURNAL### end -->
<!-- ###HAS_VOLUME### begin -->###VOLUME###<!-- ###HAS_VOLUME### end --><!-- ###HAS_NUMBER### begin-->###NUMBER###<!-- ###HAS_NUMBER### end--><!-- ###HAS_PAGES### begin -->###PAGES### <!-- ###HAS_PAGES### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
<!-- ###ARTICLE_DATA### end -->



<h2>Book</h2>
<!-- ###BOOK_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_EDITOR### begin -->###EDITOR###<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_VOLUME### begin -->###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->###SERIES###<!-- ###HAS_SERIES### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_PUBLISHER### begin -->###PUBLISHER###<!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_EDITION### begin -->###EDITION###<!-- ###HAS_EDITION### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###BOOK_DATA### end -->



<h2>Inbook</h2>
<!-- ###INBOOK_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_EDITOR### begin -->###EDITOR###<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_VOLUME### begin -->###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->###SERIES###<!-- ###HAS_SERIES### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_CHAPTER### begin -->###CHAPTER###<!-- ###HAS_CHAPTER### end -->
<!-- ###HAS_PAGES### begin -->###PAGES###<!-- ###HAS_PAGES### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_PUBLISHER### begin -->###PUBLISHER### <!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS### <!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_EDITION### begin -->###EDITION### <!-- ###HAS_EDITION### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###INBOOK_DATA### end -->



<h2>Booklet</h2>
<!-- ###BOOKLET_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_HOWPUBLISHED### begin -->###HOWPUBLISHED###<!-- ###HAS_HOWPUBLISHED### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR### <!-- ###HAS_YEAR### end -->
</div>
<!-- ###BOOKLET_DATA### end -->



<h2>Conference</h2>
<!-- ###CONFERENCE_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_EDITOR### begin -->###EDITOR###<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE###<!-- ###HAS_BOOKTITLE### end --><!-- ###HAS_VOLUME### begin -->###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->###SERIES###<!-- ###HAS_SERIES### end --><!-- ###HAS_PAGES### begin -->###PAGES###<!-- ###HAS_PAGES### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_PUBLISHER### begin -->###PUBLISHER### <!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS### <!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR### <!-- ###HAS_YEAR### end -->
</div>
<!-- ###CONFERENCE_DATA### end -->



<h2>Incollection</h2>
<!-- ###INCOLLECTION_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_EDITOR### begin -->###EDITOR###<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE###<!-- ###HAS_BOOKTITLE### end --><!-- ###HAS_VOLUME### begin -->###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->###SERIES###<!-- ###HAS_SERIES### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_CHAPTER### begin -->###CHAPTER###<!-- ###HAS_CHAPTER### end -->
<!-- ###HAS_PAGES### begin -->###PAGES###<!-- ###HAS_PAGES### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_PUBLISHER### begin -->###PUBLISHER###<!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_EDITION### begin -->###EDITION###<!-- ###HAS_EDITION### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###INCOLLECTION_DATA### end -->



<h2>Proceeding</h2>
<!-- ###PROCEEDINGS_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_EDITOR### begin -->###EDITOR###<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_VOLUME### begin -->###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->###SERIES###<!-- ###HAS_SERIES### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_PUBLISHER### begin -->###PUBLISHER###<!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###PROCEEDINGS_DATA### end -->



<h2>Inproceeding</h2>
<!-- ###INPROCEEDINGS_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_EDITOR### begin -->###EDITOR###<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE###<!-- ###HAS_BOOKTITLE### end --><!-- ###HAS_VOLUME### begin -->###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->###SERIES###<!-- ###HAS_SERIES### end --><!-- ###HAS_PAGES### begin -->###PAGES###<!-- ###HAS_PAGES### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_PUBLISHER### begin -->###PUBLISHER###<!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###INPROCEEDINGS_DATA### end -->



<h2>Manual</h2>
<!-- ###MANUAL_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_EDITOR### begin -->###EDITOR###<!-- ###HAS_EDITOR### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_EDITION### begin -->###EDITION###<!-- ###HAS_EDITION### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###MANUAL_DATA### end -->



<h2>Masterthesis</h2>
<!-- ###MASTERSTHESIS_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_SCHOOL### begin -->###SCHOOL### <!-- ###HAS_SCHOOL### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###MASTERSTHESIS_DATA### end -->



<h2>PhD Thesis</h2>
<!-- ###PHDTHESIS_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_SCHOOL### begin -->###SCHOOL### <!-- ###HAS_SCHOOL### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###PHDTHESIS_DATA### end -->



<h2>Techreport</h2>
<!-- ###TECHREPORT_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_NUMBER### begin -->###NUMBER### <!-- ###HAS_NUMBER### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_INSTITUTION### begin -->###INSTITUTION### <!-- ###HAS_INSTITUTION### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###TECHREPORT_DATA### end -->



<h2>Unpublished</h2>
<!-- ###UNPUBLISHED_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###UNPUBLISHED_DATA### end -->



<h2>Miscellaneous</h2>
<!-- ###MISCELLANEOUS_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_HOWPUBLISHED### begin -->###HOWPUBLISHED###<!-- ###HAS_HOWPUBLISHED### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###MISCELLANEOUS_DATA### end -->



<h2>String</h2>
<!-- ###STRING_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_MISC### begin -->###MISC###<!-- ###HAS_MISC### end -->
</div>
<!-- ###FILE_URL### begin -->###FILE_URL###<!-- ###FILE_URL### end -->
<!-- ###STRING_DATA### end -->



<h2>Poster</h2>
<!-- ###POSTER_DATA### begin -->
<div class="tx_sevenpack-block">
<!-- ###HAS_EDITOR### begin -->###EDITOR###<!-- ###HAS_EDITOR### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
</div>
<div class="tx_sevenpack-block">
<!-- ###HAS_PUBLISHER### begin -->###PUBLISHER### <!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_DAY### begin -->###DAY###<!-- ###HAS_DAY### end -->
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
<!-- ###HAS_YEAR### begin -->###YEAR###<!-- ###HAS_YEAR### end -->
</div>
<!-- ###POSTER_DATA### end -->


