
<h1>The list view main template</h1>

<!-- ###LIST_VIEW### begin -->
<!-- ###HAS_TOP_NAVI### begin -->
<div class="tx_sevenpack-top_navigation">
<!-- ###HAS_NEW_ENTRY### begin -->###NEW_ENTRY###<!-- ###HAS_NEW_ENTRY### end -->
<!-- ###HAS_YEAR_NAVI### begin -->###YEAR_NAVI_TOP###<!-- ###HAS_YEAR_NAVI### end -->
<!-- ###HAS_AUTHOR_NAVI### begin -->###AUTHOR_NAVI_TOP###<!-- ###HAS_AUTHOR_NAVI### end -->
<!-- ###HAS_PREF_NAVI### begin -->###PREF_NAVI_TOP###<!-- ###HAS_PREF_NAVI### end -->
</div>
<!-- ###HAS_TOP_NAVI### end -->
<!-- ###HAS_PAGE_NAVI### begin -->###PAGE_NAVI_TOP###<!-- ###HAS_PAGE_NAVI### end -->
<!-- ###HAS_ITEMS### begin -->
<table cellspacing="0" cellpadding="0" border="0" class="tx_sevenpack-list">
<tbody>
###ITEMS###
</tbody>
</table>
<!-- ###HAS_ITEMS### end -->
<!-- ###HAS_PAGE_NAVI### begin -->###PAGE_NAVI_BOTTOM###<!-- ###HAS_PAGE_NAVI### end -->
<!-- ###HAS_STAT_NAVI### begin -->###STAT_NAVI_BOTTOM###<!-- ###HAS_STAT_NAVI### end -->
<!-- ###HAS_IMPORT### begin -->###IMPORT###<!-- ###HAS_IMPORT### end -->
<!-- ###HAS_EXPORT### begin -->###EXPORT###<!-- ###HAS_EXPORT### end -->
<!-- ###LIST_VIEW### end -->

