

<!-- ###NEW_ENTRY_NAVI_BLOCK### begin -->
<div class="tx_bib-navi_new">###NEW_ENTRY###</div>
<!-- ###NEW_ENTRY_NAVI_BLOCK### end -->


<!-- ###EXPORT_NAVI_BLOCK### begin -->
<div class="tx_bib-navi_export">
<div class="tx_bib-navi_main_label">###LABEL###</div>
###EXPORTS###
</div>
<!-- ###EXPORT_NAVI_BLOCK### end -->


<!-- ###IMPORT_NAVI_BLOCK### begin -->
<div class="tx_bib-navi_import">
<div class="tx_bib-navi_main_label">###LABEL###</div>
###IMPORTS###
</div>
<!-- ###IMPORT_NAVI_BLOCK### end -->
